@model laptrinhwed_chieut4_doan.Camera

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết Camera</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maloai)
        </dd>

        <dt>
            Tên Camera
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tencam)
        </dd>

        <dt>
            Hình
        </dt>

        <dd>
            <img src="@Model.hinh" width="190" height="290" "/>
        </dd>

        <dt>
            Giá Bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaban)
        </dd>

        <dt>
            Ngày Cập Nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

        <dt>
            Số Lượng Tồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluongton)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.macam }) |
    @Html.ActionLink("Back to List", "ListCamera")
</p>
